<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tbc.uncagedmist.cricketupdates">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.PlayerdetailActivity" />
        <activity android:name=".activity.SeriesOptionActivity" />
        <activity android:name=".fragments.SeriesDetailMatchesFragment" />
        <activity android:name=".fragments.SeriesDetailNewsFragment" />
        <activity android:name=".liveline.MainActivity" />
        <activity android:name=".fragments.SeriesDetailTeamsFragment" />
        <activity android:name=".fragments.SeriesDetailPointsFragment" />
        <activity android:name=".fragments.SeriesDetailStatsFragment" />
        <activity android:name=".fragments.SeriesDetailGalleryFragment" />
        <activity android:name=".fragments.SeriesvenueFragment" />
        <activity android:name=".activity.PlayerNameActivity" />
        <activity android:name=".activity.Zoomimageview" />
        <activity android:name=".activity.MatchDetailActivity" />
        <activity android:name=".activity.newsfullactivity" />
        <activity android:name=".MainActivity" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fan_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_base_uid" />
    </application>

</manifest>